<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LMGTFY Clone</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    
    <h1 id='lm'>Let Me</h1>
    <img src='https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png'>
    <h1 id='tfy'>That For You</h1>
    <input type="text" id="input">
    <input type="submit" id = 'submit' value='Generate LMGTFY URL'>
    <div id="shorten"></div>
    <p id='outputURL'></p>

    <script type="text/javascript" src="/scripts/index.js"></script>

</body>

</html>